
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .radiobuttonWrap {
        display: flex;
    }

    .radiobuttonWrap .custom-control {
       margin-right: 30px;
    }
    .customselect {
        margin: 30px 0 0 0;
    }
        .customselect select {
            height: 30px !important;
            font-size: 13px;
            border: 1px solid #e2e2e2;
            border-radius: 0px;
            padding: 0 15px;
            background: url(../images/chevron-arrow-down.svg) no-repeat 0 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            background-size: 12px;
            background-position: 98% 5px;
            box-shadow: 0 0 0 !important;
            outline:none !important;
        }
    #CreateCarePlanModal .modal-body {
        padding: 30px 15px;
    }
    .hide{
        display:none;
    }
    .templatelist h2{
        text-transform:uppercase;
    }
    
</style>
<section id="content" class="responsive-container pt-0">

    <div class="inner-content mt-0">

        <div class="container-fluid pl-0 pr-0">

            <div class="appointment scroll">
                <div class="detail-heading d-flex templatelist">
                    <h2>Care Plan Templates</h2>
                </div>
                <a href="javascript:void(0)" class="btn btn-success mb-2" onclick="checkTemplateCount()" data-toggle="modal" data-target="#CreateCarePlanModal">Create Template</a>
                <table id="tblCarePlanTemplateList" class="table table-striped border">
                    <tr class="table-active">
                        <th>NAME</th>
                        <th>PROGRAM</th>
                        <th>STATUS</th>
                        <th>MODIFIED DATE</th>
                        <th>ACTIVE</th>
                        <th>ACTION</th>
                    </tr>
                    <tbody class="careplanlist">
                        <tr></tr>

                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </section>
<div class="modal fade" id="CreateCarePlanModal" tabindex="-1" role="dialog" aria-labelledby="CreateCarePlanModal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:56%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Create Template</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form createtemplate">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="templateName">Template name</label>
                            <input type="text" class="form-control form-control-sm" id="templateName">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ddlProgram">Select program</label>
                            <select class="form-control form-control-sm" id="ddlProgram">
                                <option value="1">Clinic</option>
                                <option value="2">Dream</option>
                                <option value="3">OU</option>
                                <option value="4">Peralta College</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div class="radiobuttonWrap">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="radioScratch" name="radio" checked>
                                    <label class="custom-control-label" for="radioScratch">Create from scratch</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="radioExistTemplate" name="radio" onchange="getTemplates(this)">
                                    <label class="custom-control-label" for="radioExistTemplate">Copy from existing template</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="radioBaseTemplate" name="radio">
                                    <label class="custom-control-label" for="radioBaseTemplate">Use base template</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="templateDiv form-group hide">
                                <label for="templatedropdown">Select template</label>
                                <select class="form-control form-control-sm" id="ddlTemplate">
                                    <option value="0">Select Template</option>
                                </select>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="notemplate" style="display:none">
                    <p class="text-center">No programs available for careplan creation.</p>

                </div>
            </div>
            <div class="modal-footer">
                <a href='javascript:{}' class="btn btn-success label-fields btnProceed" onclick="Proceed()">Proceed</a>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var ModalTemplateId = "";
        var ModalProgramId = "";
        $(function () {
            GetCarePlanTemplateList();
            getPrograms();
            GetBaseTemplateId();
            sessionStorage.clear();            
        });
        function GetCarePlanTemplateList() {
            $(".loaderOverlay").css("display", "flex");
            $.ajax({
                type: "GET",
                url: Apipath + '/api/PatientMain/gettemplatelist',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    var careplanlist = $(".careplanlist");
                    var careplans = "";
                    var istemplateExist = false;
                  
                    if (result.length) {
                        for (var i = 0; i < result.length; i++) {
                            if (result[i].TemplatePath != null) {
                                istemplateExist = true;
                                break;
                            }
                        }
                        $.each(result, function (index, item) {
                            var ishidepopup = false;
                            if (item.IsSavedDraft || item.IsActive) ishidepopup = true;
                            careplans += `<tr>
                         <td width="20%">${item.TemplateName}</td>
                         <td width="15%">${item.ProgramsName == null ? "" : item.ProgramsName}</td>
                         <td width="12%">${item.IsActive ? "Saved" : item.IsSavedDraft ? "Saved as draft" : "In Progress"}</td>
                         <td width="15%">${item.ModifiedDate != null ? item.ModifiedDate.split("T")[0] : ""}</td>
                        <td width="15%">${item.IsActive && item.IsBaseTemplate == false == 1 ? item.Isactivated==1?"Yes":"No":""}</td>
                            <td width="23%"><div>`
                            if (item.IsBaseTemplate) {
                                careplans += `<a href="/careplan/BaseTemplate?templateid=${item.TemplateID}"  class="btn btn-success text-white" style="cursor:pointer;">MODIFY</a>`

                            } else {
                                careplans += `<a href="/careplan/modifytemplate?TemplateID=${item.TemplateID}&TemplateName=${item.TemplateName}&ProgramID=${item.ProgramsID}&IsBaseTemplate=${item.IsBaseTemplate}&IsModify=${true}"  class="btn btn-success text-white" style="cursor:pointer;">MODIFY</a>`
                            }
                            if (item.IsActive == 1 && item.IsBaseTemplate == false) {                              
                                if (item.Isactivated == 1) {
                                    careplans += `<a href="javascript:void(0)" onclick="SetTemplateStatus(${item.TemplateID},${false})"  class="btn btn-success text-white" style="cursor:pointer;">DEACTIVATE</a>`;
                                } else if (item.Isactivated == 0) {
                                    careplans += `<a href="javascript:void(0)" onclick="SetTemplateStatus(${item.TemplateID},${true})"  class="btn btn-success text-white" style="cursor:pointer;">ACTIVATE</a>`;
                                }
                            } 
                            
                            careplans += `</div></td></tr>`;
                        });
                        careplanlist.html("").append(careplans);
                    } else {
                        careplans += `<tr><td colspan="6"><p class="text-center">No data found.</p></td></tr>`;
                        careplanlist.html("").append(careplans);
                    }
                    $(".loaderOverlay").hide();
                },
                error: function (e) {
                    toastr.error("Something Happen Wrong");
                }
            });
        }
        $("#radioBaseTemplate,#radioScratch").change(function () {
            if ($(this).prop("checked")) {
                $(".templateDiv").addClass("hide");
            }
        });
        function SetTemplateStatus(Templateid, Status) {
            $.ajax({
                type: "GET",
                url: Apipath + '/api/PatientMain/updatecareplantemplatestatus?Templateid=' + Templateid + '&status=' + Status,
                contentType: 'application/json; charset=UTF-8',
                dataType: "json",
                success: function (result) {
                    GetCarePlanTemplateList();
                },
            });
        }
        function getPrograms() {
            $.ajax({
                type: "GET",
                url: Apipath + '/api/PatientMain/getprogrambynavigator?Createdby=' + '@Session["userid"]',
                contentType: 'application/json; charset=UTF-8',
                dataType: "json",
                success: function (result) {
                    if (result.length) {
                        for (var i = 0; i < result.length; i++) {
                            $("#ddlProgram option[value='" + result[i].ProgramsID + "']").remove();
                        }
                    }
                },
            });
        }
        function getTemplates(obj) {
           if ($(obj).prop("checked")) {
                $.ajax({
                    type: "GET",
                    url: Apipath + '/api/PatientMain/gettemplatedropdownlist',
                    contentType: 'application/json; charset=UTF-8',
                    dataType: "json",
                    success: function (result) {
                        if (result.length) {
                            var templates = $("#ddlTemplate");
                            templates.html("");
                            $.each(result, function (data, value) {
                                templates.append($("<option></option>").val(value.TemplateID).html(value.TemplateName));
                            });
                            $(".templateDiv").removeClass("hide");
                        } else {
                            toastr.error("", "No careplan template available.", { progressBar: true });                          
                        }
                    },
                });
                
            } else {
               $(".templateDiv").addClass("hide");
            }
        }
        function Proceed() {
            let templateName = $("#templateName").val().trim();
            let programid = $("#ddlProgram").val();
            let templateid = $("#radioExistTemplate").prop("checked") ? $("#ddlTemplate").val() : 0;
            if (templateName == '') {
                toastr.error("", "Template name is required", { progressBar: true });
                return;
            }
            let model = {
                TemplateName:templateName,
                ProgramID: programid,
                TemplateID: $("#radioBaseTemplate").prop("checked") ? $("#radioBaseTemplate").attr("data-baseid") : templateid,
                IsBaseTemplate: $("#radioBaseTemplate").prop("checked")
            }
            $.ajax({
                type: "POST",
                url: '/CarePlan/GetTemplateData',
                data: JSON.stringify(model),
                contentType: 'application/json; charset=UTF-8',
                dataType: "json",
                success: function (result) {
                    if (result.isRedirect) {
                        sessionStorage.clear();
                        window.location.href = result.redirectUrl;
                    }
                },
            });
        }
        function checkTemplateCount() {
            if ($("#ddlProgram").val() == null) {
                $(".createtemplate").hide();
                $(".notemplate").css("display", "block");
                $(".btnProceed").hide();
            } else {
                $(".createtemplate").show();
                $(".notemplate").css("display", "none");
                $(".btnProceed").show();
            }

            $("#templateName").val('');
        }
        function GetBaseTemplateId() {
            $.ajax({
                type: "GET",
                url: Apipath + '/api/PatientMain/getbasetemplateid',
                contentType: 'application/json; charset=UTF-8',
                dataType: "json",
                success: function (result) {
                    switch (result) {
                        case -1:
                            $("#radioBaseTemplate").attr("disabled", "disabled");
                            break;
                        default:
                            $("#radioBaseTemplate").attr("data-baseid", result);
                            break;
                    }
                    
                }
            });
        }
    </script>
    }
