
<ul class="clientInfo" style="display:none">
    <li><span>Name:</span> <span class="ci_value ci_PatientName"></span></li>
    <li><span>Email ID:</span> <span class="ci_value ci_PatientEmail"></span></li>
    <li><span>SSN:</span> <span class="ci_value ci_PatientSSN"></span></li>
</ul>