@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="content" class="responsive-container pt-0">

    <div class="inner-content mt-0">

        <div class="appointment">

            <hgroup>
                <h1>Error.</h1>
                <h2>An error occurred while processing your request.</h2>
            </hgroup>
            </div>
        </div>
    </section>

