

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .showHide {
        display: none;
    }

    .showHideInner {
        margin-top: 0px !important;
    }

    .showHidepaitent-detail-left {
        height: 570px !important;
    }

    .showHidepaitentinner-main-content {
        height: 500px !important;
    }

    .showHidebody {
        padding-top: 15px !important;
    }

    .showHidecontent {
        padding-top: 0px !important;
    }

    .showHideappotment {
        min-height: 570px !important;
    }

    .showHideNotes {
        height: 570px !important;
    }
    /*.row {
        margin-right: 0px;
    }*/
</style>
<section id="content" class="responsive-container appointmentSettingWrap">
        <div class="profile-tabs">
            <div class="tabs-scroll">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="TypeOfAppointment-tab" data-toggle="tab" href="#TypeOfAppointment" role="tab"
                           aria-controls="TypeOfAppointment" aria-selected="true">Type Of Appointment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="LocationOfAppointment-tab" data-toggle="tab" href="#LocationOfAppointment" role="tab"
                           aria-controls="LocationOfAppointment" aria-selected="false">Location Of Appointment</a>
                    </li>

                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="TypeOfAppointment" role="tabpanel" aria-labelledby="TypeOfAppointment-tab">
                    @{
                        Html.RenderPartial("~/Views/Patient/_GetTypeOfAppointments.cshtml");

                    }
                </div>
                <div class="tab-pane fade" id="LocationOfAppointment" role="tabpanel" aria-labelledby="LocationOfAppointment-tab">
                    @{
                        Html.RenderPartial("~/Views/Patient/_GetLocationOfAppointment.cshtml");
                    }
                </div>

                </div>
            </div>
  
    </section>
@section scripts{
<script>
    function deleteTypeOfAppointment(id) {
               $.ajax({
                   type: "Post",
                   url: Apipath + "/api/PatientMain/DeleteTypeOfAppointment",
                   data: {Id:id},
                   dataType: "json",
                   contentType: "application/json; charset=utf-8",
                   success: function (result) {
                   }
               });

    }
    $("#TypeOfAppointment-tab").click(function () {
        $("#LocationOfAppointment-tab").removeClass("active show");
        $("#LocationOfAppointment").removeClass("active show");
        $("#TypeOfAppointment-tab").addClass("active show");
        $("#TypeOfAppointment").addClass("active show");
       

       
    });
    $("#LocationOfAppointment-tab").click(function () {
        $("#TypeOfAppointment").removeClass("active show");
        $("#TypeOfAppointment-tab").removeClass("active show");
        $("#LocationOfAppointment").addClass("active show");
        $("#LocationOfAppointment-tab").addClass("active show");
    });
    $(document).ready(function () {

     //   $("#tblType").dataTable();
       

    });
</script>
}