
@{
    ViewBag.Title = "ShowLookUpOption";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .ddlForm label {
        min-width: 110px;
        margin: 0;
    }

    .ddlForm {
        display: flex;
        align-items: center;
    }
    .notexist {
        text-align: center;
        padding: 15px 15px;
        font-size: 20px;
        text-transform: capitalize;
        border: 1px dashed #ccc;
        margin: 15px 0 0 0;
        background: #f5f5f5;
    }
    select#ddlform {
        border-color: transparent !important;
        box-shadow: 0 0 0;
        border: 1px solid #ccc !important;
    }
    #content #lookupList .one-columns {
        padding: 5px 8px;
        height: 38px;
    }
    section#content #LookUpbtn .btn-success.addNew-btn-success {
        margin: 0;
        line-height: normal;
    }
    .one-columns-tbl {
        width: 100%;
        padding: 5px;
    }
    .one-columns-tbl table{
       margin:0
    }
        .one-columns-tbl table th, .one-columns-tbl table td {
            padding: 8px 8px !important;
        }
            .one-columns-tbl table td a {
                line-height: normal;
            }
        .one-columns-tbl .table td, .one-columns-tbl .table th {
            vertical-align: middle
        }
    .form-row-first .one-columns-tbl .table th:first-child {
        background-color: #f0f0f0 !important;
    }
    .form-row-first .one-columns-tbl .table tr:nth-child(odd) td {
        background: #f9f9f9;
    }
    #lookupList .inner-main-content{
        padding:0 !important;
    }
</style>

<!-- Content start here -->
<section id="content" class="responsive-container pt-0">
    <div class="profile-tabs">
        <div class="">


            <div class="inner-content mt-0">
               
                    <div class="container-fluid p-0">
                        <div class="appointment">
                            <div class="paitent-detail-left">

                                <div class="detail-heading d-flex">
                                    <h2>Look Up Field </h2>
                                    <div class="detail-button ml-auto">
                                        <div class="form-horizontal ddlForm">
                                            <label class="control-label">Select Form</label>
                                            <select class="form-control" id="ddlform" onchange="GetLookupByForm()">
                                                <option value="Housing">Housing</option>
                                                <option value="Financial Security">Financial Security</option>
                                                <option value="Employment Education">Employment Education</option>
                                                <option value="Communication & Mobility">Communication & Mobility</option>
                                                <option value="Healthcare">Healthcare</option>
                                                <option value="Social Supports and Safety">Social Supports and Safety</option>
                                                <option value="Legal Status">Legal Status</option>
                                                <option value="Substance Use">Substance Use</option>
                                                <option value="Mental Health">Mental Health</option>
                                                <option value="Food Access">Food Access</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                               
                                    <div  id="lookupList">



                                    </div>
                            </div>










                            </div>



                    </div>
               
            </div>
        </div>
    </div>

</section>





<!-- Modal Start -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">LookUp Field Option</h5>
                <button type="button" class="close" onclick="closeModel()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formAppointment" class="appointement-form">
                    <input type="text" hidden="hidden" id="txtID" class="form-control" placeholder="">
                    <input type="text" hidden="hidden" id="txtLookUpFieldID" class="form-control" placeholder="">
                    <div class="form-group d-flex align-items-center">
                        <label for="inputPassword" class="m-0"> Option Name:</label>
                        <input type="text" id="txtOptionName" class="form-control" placeholder="">
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label for="inputPassword">Option Value</label>
                        <input id="txtOptionValue" class="form-control" />
                    </div>

                    <div class="modal-footer">
                        <button type="button" onclick="closeModel()" class="btn btn-secondary">Cancel</button>
                        <button type="button" onclick="SaveLookUpFieldOption()" id="btnSave" class="btn btn-primary">Save</button>
                        <button type="button" onclick="UpdateLookUpFieldOption()" id="btnUpdate" hidden="hidden" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<!-- Modal End -->
<!-- Content end here -->
@section scripts{
    <script>
        $(document).ready(function () {
            GetLookupByForm();
        });



        var Apipath = '@System.Configuration.ConfigurationManager.AppSettings["WebApi"]';

        function GetLookupByForm(){
            $.ajax({
                type: "GET",
                url:'/Patient/GetLookUpOption?formname=' + $("#ddlform").val(),
                contentType: 'application/json; charset=UTF-8',
                dataType: "Html",
                success: function (result) {
                    $("#lookupList").html("");
                    $("#lookupList").html(result);

                },
                error: function () {

                }
            });
        }

        //--Remove LookUpFieldOption-----

        function Remove(id) {

            if (confirm("Are you sure,you want to delete."))
                var d = new Date();
          
            var model = {
                ID: id,
                ModifiedBy:@Session["userid"].ToString(),
                ModifiedDate: d.toJSON()
            };
            $.ajax({
                type: "POST",
                url: Apipath + '/api/PatientMain/RemoveLookUpFieldOption',
                data: JSON.stringify(model),
                contentType: 'application/json; charset=UTF-8',
                dataType: "json",
                success: function (result) {
                    if (result != '') {
                        location.href = '/Patient/WebGridShowLookUpOption';
                        toastr.success("delete successfully");

                    }
                    else {
                        toastr.error("Error while updating data");
                    }
                },
                error: function () {

                    toastr.error("Error while deleting data");
                }
            });
        }

         //---- open add LookUpFieldOption popup
        function AddNew(id) {
            
            emptyModel();
            $('#exampleModal').modal('show');
            $("#txtLookUpFieldID").val(id);
        }

        //--- empty modal fields
        function emptyModel() {
          
            $("#txtLookUpFieldID").val("");
            $("#txtOptionName").val("");
            $("#txtOptionValue").val("");
           
        }

        //--- close add edit LookUpFieldOption model
        function closeModel() {
            emptyModel();
            $('#exampleModal').modal('hide');
        }

        //---- Save new LookUpFieldOption
        function SaveLookUpFieldOption() {
           
         
            var d = new Date();
          
            var model = {
                LookUpFieldID: $("#txtLookUpFieldID").val(),
                OptionName: $("#txtOptionName").val(),
                OptionValue: $("#txtOptionValue").val(),
                CreatedDate: d.toJSON(),
                ModifiedDate: d.toJSON(),
                IsDeleted: false,
            };
            $.ajax({
                type: "POST",
                url: Apipath + '/api/PatientMain/AddLookUpOptions',
                data: JSON.stringify(model),
                contentType: 'application/json; charset=UTF-8',
                dataType: "json",
                success: function (result) {
                 
                    if (result != '') {
                       
                        toastr.success("LooKUp Field Option saved successfully");
                        closeModel();
                        location.href = '/Patient/WebGridShowLookUpOption';

                    }
                    else {
                        toastr.error("Error while saved data");
                    }
                },
                error: function () {

                    toastr.error("Error while saved data");
                }
            });
        }

        //--------Update LookUpFieldOption
        function UpdateLookUpFieldOption() {

          
            var d = new Date();
         
            var model = {
                ID: $("#txtID").val(),
                LookUpFieldID: $("#txtLookUpFieldID").val(),
                OptionName: $("#txtOptionName").val(),
                OptionValue: $("#txtOptionValue").val(),
                ModifiedDate: d.toJSON(),
                IsDeleted: false,
            };
            $.ajax({
                type: "POST",
                url: Apipath + '/api/PatientMain/AddLookUpOptions',
                data: JSON.stringify(model),
                contentType: 'application/json; charset=UTF-8',
                dataType: "json",
                success: function (result) {
                   
                    if (result != '') {

                        toastr.success("LooKUpFieldOption saved successfully");
                        closeModel();
                        location.href = '/Patient/WebGridShowLookUpOption';

                    }
                    else {
                        toastr.error("Error while Saved data");
                    }
                },
                error: function () {

                    toastr.error("Error while Saved data");
                }
            });
        }

        //----- get LookUpFieldOption  detail by  id
        function EditLookUpField(id) {
            $('#exampleModal').modal('show');
       
            var data = {
                ID: id
            };
            $.ajax({
                type: "GET",
                url: Apipath + '/api/PatientMain/GetLookUpFieldOptionByID',
                data: data,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                   
                    $('#btnSave').attr('hidden', 'hidden');
                    $('#btnUpdate').removeAttr('hidden');

                        $("#txtID").val(result.ID);
                        $("#txtLookUpFieldID").val(result.LookUpFieldID);
                        $("#txtOptionName").val(result.OptionName);
                        $("#txtOptionValue").val(result.OptionValue);
                   
                },
                error: function (e) {
                    toastr.error("Error while inserting data");
                }
            });
        }


        //---- Get all LookUpFieldOption from backend
        function GetLookUpOption() {
            //var data = {};
            $.ajax({
                type: "GET",
                url: Apipath + '/api/PatientMain/GetLookUpOption',
                //data: JSON.stringify(data),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                   
                },
                error: function (e) {
                    toastr.error("Error while inserting data");
                }
            });
        }







    </script>
}