
<!-- Release and Disclosure tab start here  -->
<div class="tab-pane fade show active" id="Release" role="tabpanel" aria-labelledby="Release-tab">
    <!-- Inner content start here  -->
    <div class="inner-content">
        <div class="paitent-detail">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-12 pr-0">


                    <div class="authorization" style="height: 450px;
    overflow: scroll;
    overflow-x: hidden;">
                        <form class="detail-patient-form" id="frmRelease">
                            <h1>Authorization For Release And Disclousure Of Health Information To Abc Healt Center</h1>
                            <p>
                                All disclosures are in compliance with Federal and State laws, including the Health Insurance Portability and
                                Accountability Act of 1996 (HIPAA), governing the use and disclosure of Protected Health Information (PHI)
                            </p>
                            <ol>
                                <li>
                                    <strong>Health Record Number:</strong> <input type="text" name="" value="" /> <strong>Date of Birth:</strong><input type="text" name="" value="" />
                                    I, <input type="text" name="" value="" />, <br />authorize <input type="text" name="" value="" /> to release medical
                                    records for use or disclosure as described below to: <strong>abc health., san mateo, CA 94603, Tel: (555) 777-6666,</strong>
                                </li>
                                <li>
                                    The type of information to be used or disclosed is as follows (check the appropriate boxes and include
                                    other information where indicated. Please include dates of service.) <input type="text" name="" value="" />

                                    <div class="informationUsed">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                                <div class="custom-control custom-checkbox d-inline-block mr-2">
                                                    <input tabindex="1" type="checkbox"
                                                           class="custom-control-input"
                                                           id="ProblemList"
                                                           name="frmRelease_check1" value="1">
                                                    <label class="custom-control-label"
                                                           for="ProblemList">
                                                        Problem list
                                                    </label>
                                                </div>
                                                <div class="custom-control custom-checkbox d-inline-block mr-2">
                                                    <input tabindex="1" type="checkbox"
                                                           class="custom-control-input"
                                                           id="MedicationList"
                                                           name="frmRelease_check2" value="2">
                                                    <label class="custom-control-label"
                                                           for="MedicationList">
                                                        Medication list
                                                    </label>
                                                </div>
                                                <div class="custom-control custom-checkbox d-inline-block mr-2">
                                                    <input tabindex="1" type="checkbox"
                                                           class="custom-control-input"
                                                           id="ListOfAllergies"
                                                           name="frmRelease_check3" value="3">
                                                    <label class="custom-control-label"
                                                           for="ListOfAllergies">
                                                        List of allergies
                                                    </label>
                                                </div>
                                                <div class="custom-control custom-checkbox d-inline-block mr-2">
                                                    <input tabindex="1" type="checkbox"
                                                           class="custom-control-input"
                                                           id="ImmunizationRecords"
                                                           name="frmRelease_check4" value="4">
                                                    <label class="custom-control-label"
                                                           for="ImmunizationRecords">
                                                        Immunization records
                                                    </label>
                                                </div>
                                                <div class="custom-control custom-checkbox d-inline-block mr-2">
                                                    <input tabindex="1" type="checkbox"
                                                           class="custom-control-input"
                                                           id="RecentHistory"
                                                           name="frmRelease_check5" value="5">
                                                    <label class="custom-control-label"
                                                           for="RecentHistory">
                                                        Most recent history
                                                    </label>
                                                </div>
                                                <div class="custom-control custom-checkbox d-inline-block mr-2">
                                                    <input tabindex="1" type="checkbox"
                                                           class="custom-control-input"
                                                           id="RecentDischarge"
                                                           name="frmRelease_check6" value="6">
                                                    <label class="custom-control-label"
                                                           for="RecentDischarge">
                                                        Most recent discharge summary
                                                    </label>
                                                </div>
                                                <div class="custom-control custom-checkbox d-inline-block mr-2">
                                                    <input tabindex="1" type="checkbox"
                                                           class="custom-control-input"
                                                           id="EntireRecord"
                                                           name="frmRelease_check7" value="7">
                                                    <label class="custom-control-label"
                                                           for="EntireRecord">
                                                        Entire Record
                                                    </label>
                                                </div>
                                                <div class="custom-control custom-checkbox d-inline-block mr-2">
                                                    <input tabindex="1" type="checkbox"
                                                           class="custom-control-input"
                                                           id="Other"
                                                           name="frmRelease_check8" value="8">
                                                    <label class="custom-control-label"
                                                           for="Other">
                                                        Other (please describe)
                                                    </label>
                                                </div>
                                                <input type="text" name="Other" value="" />
                                                @*<ul>
                            <li>Problem list</li>
                            <li>Medication list</li>
                            <li>List of allergies</li>
                            <li>Immunization records</li>
                            <li>Most recent history</li>
                            <li>Most recent discharge summary</li>
                            <li>Entire Record</li>
                            <li>Other (please describe): <input type="text" name="" value="" /></li>
                            </ul>*@
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                                <div class="custom-control custom-checkbox d-inline-block mr-2">
                                                    <input tabindex="1" type="checkbox"
                                                           class="custom-control-input"
                                                           id="Drug"
                                                           name="frmRelease_check9" value="9">
                                                    <label class="custom-control-label"
                                                           for="Drug">
                                                        Drug and Alcohol
                                                    </label>
                                                </div>
                                               
                                                <div class="custom-control custom-checkbox d-inline-block mr-2">
                                                    <input tabindex="1" type="checkbox"
                                                           class="custom-control-input"
                                                           id="HIV"
                                                           name="frmRelease_check10" value="10">
                                                    <label class="custom-control-label"
                                                           for="HIV">
                                                        HIV
                                                    </label>
                                                </div>
                                                <div class="custom-control custom-checkbox d-inline-block mr-2">
                                                    <input tabindex="1" type="checkbox"
                                                           class="custom-control-input"
                                                           id="MentalHealth"
                                                           name="frmRelease_check11" value="11">
                                                    <label class="custom-control-label"
                                                           for="MentalHealth">
                                                        Mental Health Records
                                                    </label>
                                                </div>
                                                <div class="custom-control custom-checkbox d-inline-block mr-2">
                                                    <input tabindex="1" type="checkbox"
                                                           class="custom-control-input"
                                                           id="LabResults"
                                                           name="frmRelease_check12" value="12">
                                                    <label class="custom-control-label"
                                                           for="LabResults">
                                                        Lab Results
                                                    </label>
                                                </div>
                                                <div class="custom-control custom-checkbox d-inline-block mr-2">
                                                    <input tabindex="1" type="checkbox"
                                                           class="custom-control-input"
                                                           id="XRay"
                                                           name="frmRelease_check13" value="13">
                                                    <label class="custom-control-label"
                                                           for="XRay">
                                                        X-Ray and imaging reports (please list the dates and types of
                                                        x-rays or images you would like disclosed):
                                                    </label>
                                                </div>
                                                <input type="text" name="XRayReports" value="" />
                                                <div class="custom-control custom-checkbox d-inline-block mr-2">
                                                    <input tabindex="1" type="checkbox"
                                                           class="custom-control-input"
                                                           id="RecentSummary"
                                                           name="frmRelease_check14" value="14">
                                                    <label class="custom-control-label"
                                                           for="RecentSummary">
                                                        Most recent discharge summary
                                                    </label>
                                                </div>
                                                <div class="custom-control custom-checkbox d-inline-block mr-2">
                                                    <input tabindex="1" type="checkbox"
                                                           class="custom-control-input"
                                                           id="EntireRec"
                                                           name="frmRelease_check15" value="15">
                                                    <label class="custom-control-label"
                                                           for="EntireRec">
                                                        Entire Record
                                                    </label>
                                                </div>
                                                <div class="custom-control custom-checkbox d-inline-block mr-2">
                                                    <input tabindex="1" type="checkbox"
                                                           class="custom-control-input"
                                                           id="Consultation"
                                                           name="frmRelease_check16" value="16">
                                                    <label class="custom-control-label"
                                                           for="Consultation">
                                                        Consultation reports (please supply doctors’ names, dates,
                                                        and report
                                                        types):
                                                    </label>


                                                </div>
                                                <input type="text" name="Consultation" value="" />

                                                @*<ul>
            <li>Drug and Alcohol</li>
            <li>HIV</li>
            <li>Mental Health Records</li>
            <li>Lab Results</li>
            <li>
                X-Ray and imaging reports (please list the dates and types of
                x-rays or images you would like disclosed): <input type="text" name="" value="" />
            </li>
            <li>Most recent discharge summary</li>
            <li>Entire Record</li>
            <li>
                Consultation reports (please supply doctors’ names, dates,
                and report
                types): <input type="text" name="" value="" />
            </li>
        </ul>*@
                                            </div>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    I understand that the information in my health record may include information relating to sexually
                                    transmitted disease, acquired immunodeficiency syndrome (AIDS), or human immunodeficiency virus
                                    (HIV). It may also include information about behavioral or mental health services, and treatment for
                                    alcohol and drug abuse.
                                </li>
                                <li>
                                    The information identified above may be used by or disclosed to the following individuals or
                                    organization(s):<br />
                                    Name:<input type="text" name="OrganizationName1" value="" /> Address:<input type="text" name="OrganizationAddress1" value="" /><br />
                                    Name:<input type="text" name="OrganizationName2" value="" /> Address:<input type="text" name="OrganizationAddress2" value="" />

                                </li>
                                <li>
                                    This information for which I’m authorizing disclosure will be used for the following purpose: □ my
                                    personal records
                                    sharing with other health care providers as needed
                                    other (please describe): <input type="text" name="PersonalRecords" value="" />
                                </li>
                                <li>
                                    I understand that I have a right to revoke this authorization at any time. I understand that if I revoke this
                                    authorization, I must do so in writing and present my written revocation to the health information
                                    management department. I understand that the revocation will not apply to information that has already
                                    been released in response to this authorization. I understand that the revocation will not apply to my
                                    insurance company when the law provides my insurer with the right to contest a claim under my policy.
                                </li>
                                <li>
                                    This authorization will expire (insert date or event): <input type="text" name="ExpireEvent" value="" />
                                    If I fail to specify an expiration date or event, this authorization will expire six months from the date on
                                    which it was signed.
                                </li>
                                <li>
                                    I understand that once the above information is disclosed, it may be re-disclosed by the recipient and the
                                    information may not be protected by federal privacy laws or regulations.
                                </li>
                                <li>
                                    I understand authorizing the use or disclosure of the information identified above is voluntary. I need not
                                    sign this form to ensure healthcare treatment.
                                </li>
                            </ol>
                            <div class="signature">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                        <span class="bar"></span>
                                        <strong>Signature of Client or legal representative</strong>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                        <span class="bar"></span>
                                        <strong>Date</strong>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                        <span class="bar"></span>
                                        <strong>If signed by legal representative, relationship to Client</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                        <span class="bar"></span>
                                        <strong>Signature of witness </strong>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                        <span class="bar"></span>
                                        <strong>Date</strong>
                                    </div>

                                </div>
                            </div>

                      

                            <div class="detail-button mt-3 w-100 text-center">

                                <a href="javascript:{}" onclick="return ReleaseSave();" id="btnRelease" class="btn btn-success">
                                    <i class="far fa-save"></i>
                                    Save
                                </a>
                            </div>



                        </form>

                    </div>


                </div>
                @*<div class="col-lg-4 col-md-12 col-sm-12 col-12 ">
                        <div class="sidebar-right">
                            <div class="appointement">
                                <h3>Appointment</h3>
                                <div class="scroll scroll-height">
                                    <div class="appointement-row">
                                        <div class="calender-img">
                                            <img src="images/calender-icon.png" alt="">
                                        </div>
                                        <h6>
                                            <span class="date">Date: 24-4-2019</span>, <span class="time">
                                                Time:
                                                5:30 PM
                                            </span>
                                        </h6>
                                        <p>
                                            At vero eos et accusamus et iusto odio dignissimos ducimus
                                            qui
                                            blanditiis praesentium voluptatum
                                        </p>
                                        <a href="#!" class="btn btn-link">Read More...</a>
                                    </div>
                                    <div class="appointement-row">
                                        <div class="calender-img">
                                            <img src="images/calender-icon.png" alt="">
                                        </div>
                                        <h6>
                                            <span class="date">Date: 26-4-2019</span>, <span class="time">
                                                Time:
                                                5:30 PM
                                            </span>
                                        </h6>
                                        <p>
                                            At vero eos et accusamus et iusto odio dignissimos ducimus
                                            qui
                                            blanditiis praesentium voluptatum
                                        </p>
                                        <a href="#!" class="btn btn-link">Read More...</a>
                                    </div>
                                    <div class="appointement-row">
                                        <div class="calender-img">
                                            <img src="images/calender-icon.png" alt="">
                                        </div>
                                        <h6>
                                            <span class="date">Date: 28-4-2019</span>, <span class="time">
                                                Time:
                                                5:30 PM
                                            </span>
                                        </h6>
                                        <p>
                                            At vero eos et accusamus et iusto odio dignissimos ducimus
                                            qui
                                            blanditiis praesentium voluptatum
                                        </p>
                                        <a href="#!" class="btn btn-link">Read More...</a>
                                    </div>
                                    <div class="appointement-row">
                                        <div class="calender-img">
                                            <img src="images/calender-icon.png" alt="">
                                        </div>
                                        <h6>
                                            <span class="date">Date: 30-4-2019</span>, <span class="time">
                                                Time:
                                                5:30 PM
                                            </span>
                                        </h6>
                                        <p>
                                            At vero eos et accusamus et iusto odio dignissimos ducimus
                                            qui
                                            blanditiis praesentium voluptatum
                                        </p>
                                        <a href="#!" class="btn btn-link">Read More...</a>
                                    </div>
                                    <div class="appointement-row">
                                        <div class="calender-img">
                                            <img src="images/calender-icon.png" alt="">
                                        </div>
                                        <h6>
                                            <span class="date">Date: 1-5-2019</span>, <span class="time">
                                                Time:
                                                5:30 PM
                                            </span>
                                        </h6>
                                        <p>
                                            At vero eos et accusamus et iusto odio dignissimos ducimus
                                            qui
                                            blanditiis praesentium voluptatum
                                        </p>
                                        <a href="#!" class="btn btn-link">Read More...</a>
                                    </div>
                                </div>
                            </div>
                            <div class="appointement">
                                <h3>Notes</h3>
                                <div class="scroll scroll-height">
                                    <div class="appointement-row">
                                        <div class="calender-img">
                                            <img src="images/calender-icon.png" alt="">
                                        </div>
                                        <h6>
                                            <span class="date">Date: 24-4-2019</span>, <span class="time">
                                                Time:
                                                5:30 PM
                                            </span>
                                        </h6>
                                        <p>
                                            At vero eos et accusamus et iusto odio dignissimos ducimus
                                            qui
                                            blanditiis praesentium voluptatum
                                        </p>
                                        <a href="#!" class="btn btn-link">Read More...</a>
                                    </div>
                                    <div class="appointement-row">
                                        <div class="calender-img">
                                            <img src="images/calender-icon.png" alt="">
                                        </div>
                                        <h6>
                                            <span class="date">Date: 26-4-2019</span>, <span class="time">
                                                Time:
                                                5:30 PM
                                            </span>
                                        </h6>
                                        <p>
                                            At vero eos et accusamus et iusto odio dignissimos ducimus
                                            qui
                                            blanditiis praesentium voluptatum
                                        </p>
                                        <a href="#!" class="btn btn-link">Read More...</a>
                                    </div>
                                    <div class="appointement-row">
                                        <div class="calender-img">
                                            <img src="images/calender-icon.png" alt="">
                                        </div>
                                        <h6>
                                            <span class="date">Date: 28-4-2019</span>, <span class="time">
                                                Time:
                                                5:30 PM
                                            </span>
                                        </h6>
                                        <p>
                                            At vero eos et accusamus et iusto odio dignissimos ducimus
                                            qui
                                            blanditiis praesentium voluptatum
                                        </p>
                                        <a href="#!" class="btn btn-link">Read More...</a>
                                    </div>
                                    <div class="appointement-row">
                                        <div class="calender-img">
                                            <img src="images/calender-icon.png" alt="">
                                        </div>
                                        <h6>
                                            <span class="date">Date: 30-4-2019</span>, <span class="time">
                                                Time:
                                                5:30 PM
                                            </span>
                                        </h6>
                                        <p>
                                            At vero eos et accusamus et iusto odio dignissimos ducimus
                                            qui
                                            blanditiis praesentium voluptatum
                                        </p>
                                        <a href="#!" class="btn btn-link">Read More...</a>
                                    </div>
                                    <div class="appointement-row">
                                        <div class="calender-img">
                                            <img src="images/calender-icon.png" alt="">
                                        </div>
                                        <h6>
                                            <span class="date">Date: 1-5-2019</span>, <span class="time">
                                                Time:
                                                5:30 PM
                                            </span>
                                        </h6>
                                        <p>
                                            At vero eos et accusamus et iusto odio dignissimos ducimus
                                            qui
                                            blanditiis praesentium voluptatum
                                        </p>
                                        <a href="#!" class="btn btn-link">Read More...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>

    </div>
    <!-- Inner content end here  -->
</div>
<!-- Release and Disclosure tab end here  -->