@model RootsOfHealth.Models.UserBO
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @*<link href="~/css/toastr.min.css" rel="stylesheet" />*@
    <title>Login</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background: url(/Files/thermometer-1539191_1920.jpg) no-repeat center;
            background-size: cover;
            font-family: sans-serif;
            height: 100vh;
        }

            body:after {
                content: "";
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0;
                background-color: rgba(0,0,0,0.75)
            }

        .login-box {
            width: 480px;
            background: #fff;
            color: #fff;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%,-50%);
            box-sizing: border-box;
            padding: 50px 30px 70px;
            z-index: 1;
        }

        .avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            top: -50px;
            left: calc(50% - 50px);
        }

        .login-box h1 {
            color: #333;
            text-transform: capitalize;
            font-size: 30px;
            text-align: center;
            margin: 0 0 25px 0;
            font-family: 'Roboto', sans-serif;
        }

        .login-box p {
            margin: 0;
            padding: 0;
            font-weight: bold;
        }

        .login-box input {
            width: 100%;
            margin-bottom: 20px;
        }

            .login-box input[type="text"], input[type="password"] {
                border: 1px solid #e6e6e6;
                background: #efefef;
                outline: none;
                height: 48px;
                color: #333;
                font-size: 14px;
                border-radius: 30px;
                padding: 10px 20px 10px 51px;
                box-sizing: border-box;
                margin-bottom: 0px;
                font-family: 'Roboto', sans-serif;
            }

            .login-box input[type="button"] {
                border: none;
                outline: none;
                height: 48px;
                background: #22baa0;
                color: #fff;
                font-size: 18px;
                border-radius: 30px;
                margin-top: 20px;
                text-transform: uppercase;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                letter-spacing: 0.5px;
                transition: all 0.5s;
            }

                .login-box input[type="button"]:hover {
                    cursor: pointer;
                    background: #12a088;
                    color: #fff;
                }

        .login-box a {
            text-decoration: none;
            font-size: 14px;
            color: #fff;
        }

            .login-box a:hover {
                color: #39dc79;
            }

        .UserIcon {
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            top: 9px;
            left: 9px;
            display: flex;
            background: #fff;
        }

        .userName {
            position: relative;
        }

        span.UserIcon img {
            width: 17px;
            height: 17px;
            margin: auto;
            /* display: block; */
        }

        .loaderOverlay {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 9999;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(255,255,255,0.95);
            display: none;
        }

        .loader {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            position: relative;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #loader-6 {
        }

            #loader-6 span {
                display: inline-block;
                width: 5px;
                height: 20px;
                background-color: #22baa0;
                margin-right: 2px;
            }

                #loader-6 span:nth-child(1) {
                    animation: grow 1s ease-in-out infinite;
                }

                #loader-6 span:nth-child(2) {
                    animation: grow 1s ease-in-out 0.15s infinite;
                }

                #loader-6 span:nth-child(3) {
                    animation: grow 1s ease-in-out 0.30s infinite;
                }

                #loader-6 span:nth-child(4) {
                    animation: grow 1s ease-in-out 0.45s infinite;
                }

        @@keyframes grow {
            0%, 100% {
                -webkit-transform: scaleY(1);
                -ms-transform: scaleY(1);
                -o-transform: scaleY(1);
                transform: scaleY(1);
            }

            50% {
                -webkit-transform: scaleY(1.8);
                -ms-transform: scaleY(1.8);
                -o-transform: scaleY(1.8);
                transform: scaleY(1.8);
            }
        }
    </style>
</head>
<body>
    <div class="loaderOverlay">
        <div class="loader" id="loader-6">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="login-box">
        <h1>Log in</h1>
        <div class="form-group">
            <p>Username</p>
            <div class="userName">
                <input class="text-box single-line" id="UserName" name="UserName"  placeholder="Enter Username" type="text" autocomplete="off" readonly="readonly" onclick="makeReadonlyField(this,false)" onfocusout="makeReadonlyField(this,true)"  value="">
                <span class="UserIcon"><img src="~/images/profile.svg"></span>
            </div>
        </div>

        <div class="form-group">
            <p>Password</p>
            <div class="userName">
                <input class="text-box single-line" id="Password" name="Password" placeholder="Enter Password" type="password" autocomplete="off" readonly="readonly" onclick="makeReadonlyField(this,false)" onfocusout="makeReadonlyField(this,true)" value="">
                <span class="UserIcon"><img src="~/images/key.svg"></span>
            </div>
        </div>
        <input type="button" name="submit" value="Login" onclick="Login()">
    </div>

</body>
</html>
@Scripts.Render("~/bundles/jquery")
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
@*<script src="~/Scripts/toastr.min.js"></script>*@
<script>
    function Login() {     
        var email = $('#UserName').val().trim();
        var password = $('#Password').val().trim();
        if (email == '') {
            toastr.error("Username Field is required");
            return;
        }
        if (password == '') {
            toastr.error("Password Field is required");
            return;
        }
        $(".loaderOverlay").css("display", "flex");
            $.ajax({
                type: "Post",
                contentType: "application/json; charset=utf-8",
                url: "/Account/CheckLogin",
                data:JSON.stringify({ UserName: email, Password: password }),
                dataType: "Json",
                success: function (response) {              
                    if (response == "LoggedIn") {                       
                        window.location.href = "/DashBoard/Display";
                        $(".loaderOverlay").hide();
                    }
                    else {
                        toastr.error(response);
                        $(".loaderOverlay").hide();
                    }

                },
                error: function (data) {
                    $(".loaderOverlay").hide();
                    toastr.error('error');
                }
            });      
    }

    function makeReadonlyField(obj, value) {
        $(obj).prop('readonly', value);
    }
</script>
