
@{
    ViewBag.Title = "Settings";
}


<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #22baa0;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #22baa0;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    .appointemnt-row {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .passwordDiv {
        position: relative;
    }

        .passwordDiv .passwordDivIcons {
            position: absolute;
            right: 12px;
            top: 8px;
            cursor: pointer;
        }
    #SaveEmailCredsBtn:disabled,
    #SharedFormSchedulerbtn:disabled {
        border: 1px solid rgb(161, 161, 161);
        background-color: rgb(161, 161, 161);
    }

</style>


<section id="content" class="responsive-container pt-0">
    <div class="inner-content">

        <div class="profile-tabs">
            <div class="tabs-scroll">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#NofiAlertSettingTab" role="tab" aria-controls="NofiAlertSettingTab" aria-selected="true">Notification Alert</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#emailCredSettingTab" onclick="GetEmailCreds()" role="tab" aria-controls="emailCredSettingTab" aria-selected="false">Email Credentials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#formIntakeSettingTab" role="tab" aria-controls="formIntakeSettingTab" onclick="GetSharedFormFrequency()" aria-selected="false">Form Intake</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content " id="myTabContent">
                <div class="tab-pane active" id="NofiAlertSettingTab" role="tabpanel">
                    <div class="appointment mt-2">
                        <div class="detail-heading d-flex">
                            <h2>Notification Setting</h2>
                        </div>
                        <div class="appointemnt-row justify-content-start" style="width:100%; max-width:230px;">
                            Notification Alert
                            <label class="switch ml-auto">
                                <input type="checkbox" id="customSwitch" onclick="onNotification()">
                                <span class="slider round"></span>
                            </label>
                        </div>


                    </div>
                </div>
                <div class="tab-pane fade" id="emailCredSettingTab" role="tabpanel">
                    <div class="appointment mt-2">
                        <div class="detail-heading d-flex">
                            <h2>Email Credentials</h2>
                            <button type="button" onclick="SaveOrUpdateEmailCreds(0)" id="SaveEmailCredsBtn" class="btn btn-success ml-auto">Save</button>
                        </div>
                        <form autocomplete="off">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Display Name</label>
                                        <input type="text" placeholder="" name="display-name" id="displayName" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email Address</label>
                                        <input type="text" placeholder="" name="email-address" id="emailAddress" class="form-control" autocomplete="new-password" />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <div class="passwordDiv">
                                            <input type="password" placeholder="" name="password" id="password" class="form-control" autocomplete="new-password" />
                                            <div class="passwordDivIcons">
                                                <i class="fa fa-eye open-eye" style="display:none" onclick="HidePassword()"></i>
                                                <i class="fa fa-eye-slash close-eye" onclick="ShowPassword()"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Server Name</label>
                                        <input type="text" placeholder="" id="ServerName" name="server-name" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Port</label>
                                        <input type="number"  min="0" placeholder="" id="Port" name="port-name" class="form-control" style="max-width:100px;" />
                                    </div>
                                </div>

                            </div>
                            <input type="hidden" id="EmailCredsId" value="0" />
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade" id="formIntakeSettingTab" role="tabpanel">
                    <div class="appointment mt-2">
                        <div class="detail-heading d-flex">
                            <h2>Form Intake</h2>
                            <button type="button" id="SharedFormSchedulerbtn" onclick="SaveOrUpdateSchedulerFrequency(0)" class="btn btn-success ml-auto">Save</button>
                        </div>
                        <form autocomplete="off">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Form intake reminder frequency in days</label>
                                        <input type="number" placeholder=""  min="0" name="frequency" id="frequency" class="form-control" style="max-width:100px;" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="appointemnt-row justify-content-start" style="width:100%; max-width:200px;">
                                        Send Reminder
                                        <label class="switch ml-auto">
                                            <input type="checkbox" id="sendReminderSwitch">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



    </div>

</section>
@section scripts{
    <script>
        var url = window.location.hostname
         var _userID = "@Session["userid"]";
           var Apipath = '@System.Configuration.ConfigurationManager.AppSettings["WebApi"]';
        $(function () {
            $.ajax({
                type: "Get",
                url: Apipath + '/api/PatientMain/checkaccountsetting?userid='+@Session["userid"],
                dataType: 'json',
                contentType: 'application/json; charset=UTF-8',
                dataType: "json",
                success: function (response) {
                    if (response == 1) {
                        $("#customSwitch").attr('checked', 'checked');
                    } else {
                        $("#customSwitch").removeAttr('checked');
                    }
                        if (response == -1) {
                        toastr.error("Notification alert not set yet.");
                    }

                },
                error: function (error) {
                    toastr.error("errror");
                },
            })
        });

        function onNotification() {

            var notify = false;
            if ($("#customSwitch").prop("checked") == true) {
                notify = true;
            }
             var model = {
                 "userid":@Session["userid"],
                 "notificationalert": notify

            };
             $.ajax({
                 type: "POST",
                 url: Apipath + '/api/PatientMain/saveaccountsetting',
                 data: JSON.stringify(model),
                 contentType: 'application/json; charset=UTF-8',
                 dataType: "json",
                 success: function (result) {
                     if (result != '') {
                         toastr.success("Saved");
                     }
                     else {
                         toastr.error("Error while updating data");
                     }
                 },
                 error: function () {

                     toastr.error("Error while updating data");
                 }
             });
        }

        @*function offNotification() {
             var model = {
                 "userid":@Session["userid"],
                 "notificationalert": false

            };
             $.ajax({
                 type: "POST",
                 url: Apipath + '/api/PatientMain/saveaccountsetting',
                 data: JSON.stringify(model),
                 contentType: 'application/json; charset=UTF-8',
                 dataType: "json",
                 success: function (result) {
                     if (result != '') {
                         toastr.success("Saved");
                     }
                     else {
                         toastr.error("Error while updating data");
                     }
                 },
                 error: function () {

                     toastr.error("Error while updating data");
                 }
             });
        }*@
    </script>
}
    <script src="../Scripts/AccountSetting/AccountSetting.js"></script>
