<div class="dragresize col-md-12"><div class="frmbtn"><div class="form-group program-control" id="checkbox-group1"><label class="checkbox-group"><span class="title">From which level you studied</span><span class="desc"></span></label><div class="inputContent"><div class="checkbox-html"><div class="custom-control custom-checkbox  d-inline-block mr-2">
                     <input type="checkbox" class="custom-control-input" id="checkbox-group10" name="checkbox-group1" value="1" data-column="Fromwhichlevelyoustudied">
                     <label class="custom-control-label" for="checkbox-group10">Matric</label></div>
                     <div class="custom-control custom-checkbox  d-inline-block mr-2">
                     <input type="checkbox" class="custom-control-input" id="checkbox-group11" name="checkbox-group1" value="2">
                     <label class="custom-control-label" for="checkbox-group11">Higher level</label></div>
                     <div class="custom-control custom-checkbox  d-inline-block mr-2">
                     <input type="checkbox" class="custom-control-input" id="checkbox-group12" name="checkbox-group1" value="3">
                     <label class="custom-control-label" for="checkbox-group12">Graduation</label></div>
                     <div class="custom-control custom-checkbox  d-inline-block mr-2">
                     <input type="checkbox" class="custom-control-input" id="checkbox-group13" name="checkbox-group1" value="4">
                     <label class="custom-control-label" for="checkbox-group13">Masters</label></div>
                     <div class="custom-control custom-checkbox  d-inline-block mr-2">
                     <input type="checkbox" class="custom-control-input" id="checkbox-group14" name="checkbox-group1" value="5">
                     <label class="custom-control-label" for="checkbox-group14">MD</label></div>
                     </div><label class="label-program"></label></div></div><div class="event-btn-right"><button class="event-btn file-edit" onclick="EditHtml('checkbox-group','checkbox-group1')"><i class="fas fa-edit"></i></button><button class="event-btn file-remove" onclick="RemoveControl(this)"><i class="fa fa-minus-circle" aria-hidden="true"></i></button></div></div></div>