<style>
.careplanStatusDiv {
    display: flex;
    align-items: flex-start;
}
    .ApprovalRequestSent_inner {
     display:flex;
     flex-direction:column;
    }
    button#btnApproval.disabled {
        background: #a1a1a1;
        border-color: #a1a1a1;
    }
</style>
<div class="right_sidebar" id="addNewCarePlansSidebar">
    <div class="right_sidebar_head">
        <input type="text" class="form-control care_plan_name_field" value="Add new care plan" placeholder="Enter care plan name" />
        <select class="form-control" id="ddlcareplanstatus" onchange="setCarePlanStatus(this)">
            <option value="-1">Select Care plan Status</option>
            <option value="1">Not Started</option>
            <option value="3">In Progress</option>
            <option value="4">Completed</option>
        </select>
        <div class="ml-auto">
            <!-- <a href="#" class="btn btn-success">Add New</a> -->
            <a class="close_right_sidebar" onclick="canCloseNeeds(this);" href="javascript:void(0);"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <div class="right_sidebar_body">
        <div class="rounded_tabs_list">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link basic-nav active show" href="#a_p_basic_info" onclick="showBasicInfo()">Basic Information</a></li>
                <li class="nav-item disabled"><a class="nav-link show need-nav" href="#a_p_needAndGoal" onclick="GetNeedAndGoalList()">Needs & Goals</a></li>
                <li class="nav-item disabled"><a class="nav-link show summary-nav" href="#a_p_plan_summery" onclick="showSummary()">Plan Summary</a></li>
                <li class="nav-item requestItem disabled"><a class="nav-link show request-nav" href="#a_p_request_summery" onclick="actionRequest()">APPROVAL REQUEST</a></li>
                <li class="nav-item  disabled"><a class="nav-link show requestHistory-nav" href="#a_p_request_history" onclick="LoadCareplanRequestHistory()">History</a></li>
            </ul>
            <div class="tab-content">
                <div id="a_p_basic_info" class="tab-pane active show ">
                    <div class="render-basicform scroll"></div>
                    <div class="basic-info-actions text-right">
                        <a href='javaScript:void(0)'
                           class="btn btn-success label-fields btn-cancel" onclick="closecarePlan()">
                            Cancel
                        </a>
                        <a href='javaScript:void(0)' onclick="saveBasicInfoAsDraft(2)"
                           class="btn btn-success label-fields btn-basicinfo">
                            Save As Draft
                        </a>
                        <a href='javaScript:void(0)' onclick="saveBasicInfo(1)"
                           class="btn btn-success label-fields btn-basicinfo">
                            Submit
                        </a>
                    </div>
                </div>
                <div id="a_p_needAndGoal" class="tab-pane show">
                    <div id="needContent">
                        <div class="tab_heading">
                            <div class="searchBoxWrap">
                                <h5><i class="fas fa-check-double"></i>Needs (<span class="completedNeedCount">0</span>/<span class="needCount">0</span>)</h5>

                                <div class="searchbox">
                                    <input type="text" placeholder="Search..." onkeyup="SearchNeedAndGoal(this)" autocomplete="off">
                                    <button type="submit"><i class="fas fa-search"></i></button>
                                </div>
                                <a class="addNewNeed" title="Add new need" data-placement="top" href="javascript:{}" onclick="GetDefaultNeeds()"><i class="fa fa-plus"></i></a>
                            </div>

                        </div>
                        <div class="needListOuter">
                            <div class="text-center"></div>
                            <ul class="needsList scroll">
                                <li class="last-child">
                                    <div class="addNewNeedGoal">
                                        <div class="plusIcon"><i class="fa fa-plus"></i></div>
                                        <textarea class="txtNeed" maxlength="1000" placeholder="add need" onblur="NeedOnBlur(event)" onkeyup="textAreaAdjust(this)"></textarea>
                                        <div class="edit_actions">
                                            <button id="btnnewneed" type="button" onclick="saveNewNeed(this)" class="btn">Save</button>
                                            <button id="btncancelnewneed" type="button" onclick="cancelNewNeed(this)" class="btn btn_cancel">Cancel</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="a_p_plan_summery" class="tab-pane show">
                    <div class="plan_summery_wrap summaryContent">
                        <div class="tab_heading">
                            <h5><i class="fas fa-check-double"></i>Summary</h5>
                            <a class="addNewSummary" title="Add new summary" data-placement="top" href="javascript:{}" onclick="openAddSummary()"><i class="fa fa-plus"></i></a>
                        </div>
                        <div class="a_outcome_list scroll">
                            <div class="a_outcome_item">
                                <div class="a_o_head">
                                    <div class="a_o_head_name">
                                        <span class="name_thumb c_blue">AD</span><strong>Amardeep Singh</strong>
                                    </div>
                                    <div class="a_o_date"><b>Reviewed on:</b> Jan 08,2020 at 11:10 AM</div>
                                </div>
                                <div class="a_o_content">
                                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                                    <div class="status_changed"><b>Next Review Date:</b> Jan 08,2020 at 11:10 AM</div>
                                </div>
                            </div>
                            <div class="a_outcome_item">
                                <div class="a_o_head">
                                    <div class="a_o_head_name">
                                        <span class="name_thumb c_blue">AD</span><strong>Amardeep Singh</strong>
                                    </div>
                                    <div class="a_o_date"><b>Reviewed on:</b> Jan 08,2020 at 11:10 AM</div>
                                </div>
                                <div class="a_o_content">
                                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                                    <div class="status_changed"><b>Next Review Date:</b> Jan 08,2020 at 11:10 AM</div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div id="a_p_request_summery" class="tab-pane show">
                    <div class="plan_summery_wrap summaryContent">
                        @*<div class="tab_heading">
                    <h5><i class="fas fa-file-alt"></i>Request Detail</h5>
                </div>*@
                        <div class="cp_request_status">
                            <div id="careplanStatus">
                                <div class="careplanStatusDiv">
                                    <label>Status :</label>
                                    <div style="display:none" class="ApprovalRequestSent">
                                        <div class="ApprovalRequestSent_inner">
                                            <span>Approval Request Sent</span>
                                            <span style="display:none" class="sentGroups"></span>
                                            <span style="display:none" class="sentUsers"></span>
                                        </div>
                                    </div>

                                    <span style="display:none" class="requiredApproval">Approval required to complete care-plan , click button below to submit approval request</span>

                                    <span style="display:none" class="RequestUnderReview">Under Review Accepted by someone</span>

                                    <span style="display:none" class="RevokeRequestSent">Revoke Request Sent to someone</span>

                                    <span style="display:none" class="RequestApproved">Care plan is approved,you can mark need, goal or care plan as complete</span>
                                    <span style="display:none" class="notApproved">Careplan is not approved</span>
                                </div>
                            </div>
                            <button style="display:none" class="btn-success" id="btnApproval" onclick="OpenViewCarePlanChanges()">Send Approval Request</button>
                            <button style="display:none" class="btn-success" id="btnRevertRequest" onclick="ApprovalOrRevertRequestRequest('2')">Revert Approval Request</button>
                            <button style="display:none" class="btn-success" id="btnRevokeRequest" onclick="ChooseUsersPopUp('2')">Send Revoke Request</button>
                        </div>
                    </div>
                </div>
                <div id="a_p_request_history" class="tab-pane show">
                    <div class="table-responsive">
                        <table id="CarePlanHistoryTable" class="table border c_table table-striped">
                            <thead>
                                <tr class="table-active">
                                    <th>USER</th>
                                    <th>ACTION</th>
                                    <th>COMMENT</th>
                                    <th>WHEN</th>
                                </tr>
                            </thead>
                            <tbody class="carePlanRequestHistory">
                                <tr></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Sidebar html End-->
</div>