
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.css" rel="stylesheet">
<section id="content" class="responsive-container pt-0">

    <div class="inner-content mt-0">

        <div class="container-fluid pl-0 pr-0">

            <div class="appointment scroll">
                <div class="test" style="padding:10px;">
                    <div class="outer"><div class="summernote">Hello</div></div>
                    <div class="outer"> <div class="summernote">Hello</div></div>
                    <div class="outer"><div class="summernote">Hello</div></div>
                </div>


            </div>
        </div>
    </div>
</section>
@section scripts{
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.summernote').summernote();
            $(".test").sortable({
                handle: ".note-toolbar"
               
            });
            
        });
    </script>
}


