body {
    padding-top: 60px;
    background: #e7e7e7;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.scroll {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scrollbar-color: rgba(0,0,0,0.21);
    scrollbar-width: thin;
    overflow-x: hidden;
  }
  .scroll::-webkit-scrollbar {
    width: 7px;
    height: 15px;
}

.scroll::-webkit-scrollbar-track-piece  {
    background-color: #d7d7d7;
}

.scroll::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color:rgba(0,0,0,0.15);
}
body,html {
    height: 100%;
}
a,
button, input {
    outline: none !important;
    box-shadow: none !important;
}




@import '_header.scss';
@import '_sidebar.scss';
@import '_content.scss';